p{
    font-size: 20px;
    margin: 0;
}
h1{
    font-size: 20px;
    margin: 0;
    color: rgb(255, 255, 255);
}
body{
    font-size: 20px;
    margin: 0;
}
header{
    background-color: rgb(244, 79, 79);
    padding-bottom: 20px;
    text-align:  center;
}
main{
    top:  10pt;
    bottom:  10pt;
    left:  10pt;
    right:  10pt;
    margin:  auto;
}
#parent{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contents{
    border: 3px solid rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px;
    margin: 20px 0;
    text-align: center;
}
h2{
    font-size: 25pt;
    border-bottom: dotted 3px rgb(236, 122, 122)   
}
h2::before{
    content: "●";
    color: rgb(239, 111, 139);
}
p:nth-of-type(2)::first-letter{
    color: rgb(97, 206, 249);
    font-weight: bold;   
}
.contents img {
    margin: 10pt 0;
    width: 70%;
  }
  footer{
    background-color: rgb(244, 79, 79);
    text-align: center;
  }
  a{
    color: rgb(255, 255, 255);
  }
  a:visited{
    color: rgb(193, 234, 251);
  }
  a:hover{
    color: rgb(245, 178, 168);
  }
  @media screen and (max-width: 768px){
    #parent{
        flex-direction: column;
    }
    h2{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
  }
